.program-card-container {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.log-button {
    background-color: rgb(151, 151, 206);
    color: white;
}